{% extends "layout.html" %}
{% block body %}
    
    <div class="add-primer">
        
        <div class="row">
            <div class="col-lg-12">
                <h2 style="border-bottom:1px solid #222;margin-bottom:20px;padding-bottom:20px">Moje konto <small>Dodaj wpis</small></h2>
                <div style="border-bottom:1px solid black;margin-bottom:20px">
                    <div style="background-color:#D4D4D4;border-radius:4px;padding:15px;padding-top:10px;padding-bottom:10px;margin-bottom:20px">
                        <a href="{{ url_for('search_primers') }}">Strona główna</a> /
                        Moje konto /
                        Dodaj wpis
                    </div>
                </div>
            </div>
        </div>
        
        <h2 style="margin-top:0">Dodawanie nowego primera</h2>
        
        <script>
            function validateForm(){
                var nucleotides = ['A', 'T', 'C', 'G'];
                
                var x = document.forms["add_form"]["psequence"].value.toUpperCase();
                var y = document.forms["add_form"]["nt"].value;
                
                for(i=0; i<x.length; i++){
                    if(nucleotides.includes(x[i])!=true){
                        alert("BŁĄD: Wprowadzona sekwencja zawiera niedozwolone znaki")
                        return false;
                    }
                }
                if(x.length != y){
                    alert("BŁĄD: Długość podanej sekwencji nie jest zgodna z podaną wartością nt");
                    return false;
                }
            }
        </script>
        
        <form action="{{ url_for('add_primer') }}" name="add_form" onsubmit="return validateForm()" method="post">
            <dl>
                <h3 align="center">INFORMACJE NA TEMAT PRIMERA</h3>
                <dt>Nazwa primera:</dt>
                <dd><input type="text" name="pname" size="30" required autofocus></dd>
                <br />
                <dt>Typ primera:</dt>
                <dd><select name="ptype" class="selectpicker">
                    <option value="forward">Forward</option>
                    <option value="reverse">Reverse</option>
                </select></dd>
                <br />
                <dt>Sekwencja:</dt>
                <dd><textarea name="psequence" rows="3" cols="80" required></textarea></dd>
                <br />
                <dt>Długość primera (nt):</dt>
                <dd><input type="number" name="nt" min="0" required></dd>
                <br />
                <dt>Temperatura (według Genomed):</dt>
                <dd><input type="number" step="0.1" name="temp_gen"></dd>
                <br />
                <dt>Temperatura (kalkulacja):</dt>
                <dd><input type="number" step="0.1" name="temp_calc" required></dd>
                <br />
                <dt>Data zawieszenia gotowych oligo:</dt>
                <dd><input type="date" name="oligo_date" required></dd>
                <br />
                <dt>Bufor do zawieszenia:</dt>
                <dd><input type="text" name="buffer" required></dd>
                <br />
                <dt>Data przygotowania roztworu wyjściowego:</dt>
                <dd><input type="date" name="prep_date" required></dd>
                <br /><br />
                
                <h3 align="center">OPIS SEKWENCJI DOCELOWEJ</h3>
                <dt>Nazwa genu:</dt>
                <dd><input type="text" name="gene_name"></dd>
                <br />
                <dt>GenBank ACC No:</dt>
                <dd><input type="text" name="gb_acc_no"></dd>
                <br />
                <dt>NCBI Gene ID:</dt>
                <dd><input type="text" name="ncbi_id"></dd>
                <br />
                <dt>NCBI protein acession:</dt>
                <dd><input type="text" name="ncbi_pa"></dd>
                <br />
                <dt>Dodatkowe uwagi:</dt>
                <dd><input type="text" name="gene_comment"></dd>
                <br />
                <dt>Rodzaj (genus):</dt>
                <dd><input type="text" name="genus"></dd>
                <br />
                <dt>Gatunek (species):</dt>
                <dd><input type="text" name="species"></dd>
                <br />
                <dt>Dodatkowy opis (np. numer szczepu, serotyp):</dt>
                <dd><input type="text" name="gene_desc"></dd>
                <br />
                <dt>Nazwa plazmidu:</dt>
                <dd><input type="text" name="plasmid_name"></dd>
                <br />
                <dt>Sekwencja docelowa (opis):</dt>
                <dd><input type="text" name="seq_desc" required></dd>
                <br />
                <dt>Sekwencja docelowa:</dt>
                <dd><select name="seq_list" class="selectpicker" title="Wybierz:">
                    <option value=""></option>
                    <option value="bakterie">Bakterie</option>
                    <option value="opcja2">Opcja2</option>
                    <option value="opcja3">Opcja3</option>
                </select></dd>
                <br /><br />
                
                <h3 align="center">WARUNKI AMPLIFIKACJI</h3>
                <dt>Protokół przygotowania matrycy (tekst opisowy):</dt>
                <dd><input type="text" name="matrix_prep"></dd>
                <br />
                <dt>Liczba cykli:</dt>
                <dd><input type="number" min="0" name="cycles"></dd>
                <br />
                <dt>Stężenie końcowe:</dt>
                <dd><input type="number" step="0.1" min="0" name="final_conc"></dd>
                <br />
                <dt>Informacje dodatkowe:</dt>
                <dd><input type="text" name="info"></dd>
                <br /><br />
                
                <h3 align="center">ODNOŚNIKI</h3>
                <dt>PMID, numer publikacji:</dt>
                <dd><input type="text" name="pmid"></dd>
                <br /><br />
                
                <h3 align="center">INFORMACJE NA TEMAT ZAMÓWIENIA</h3>
                <dt>Data zamówienia:</dt>
                <dd><input type="date" name="order_date"></dd>
                <br />
                <dt>Firma:</dt>
                <dd><input type="text" name="firm"></dd>
                <br />
                <dt>Numer faktury V:</dt>
                <dd><input type="text" name="facture_no"></dd>
                <br /><br />
                
                <h3 align="center">INNE:</h3>
                <dt>Słowa kluczowe:</dt>
                <dd><textarea name="keywords" rows="3" cols="40" required></textarea></dd>
                <br />
                <dt>Status primera:</dt>
                <dd><select name="status" class="selectpicker">
                    <option value="1">Dostępny</option>
                    <option value="0">Niedostępny</option>
                </select></dd>
                <br />
                <dd><input type="submit" name="add" value="Dodaj"></dd>
            </dl>
        </form>
        
    </div>
    
{% endblock %}
