<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Baza primerów wydziału Biologii Uniwersytetu Gdańskiego">
    <meta name="keywords" content="">
    
    <title>Baza primerów UG</title>
    
    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Icons/Glyphs -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    
    <!-- JavaScripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
</head>

<body style="background: #eee;">

<!-- Header -->
<div class="container">
    <div class="header">
        <nav>
            <h1><a href="{{ url_for('search_primers') }}">Baza primerów UG</a></h1>
            
            <ul class="nav nav-pills pull-right">
                {% if not session.email %}
                <a class="btn btn-primary" href="{{ url_for('login') }}"><i class="fa fa-sign-in fa-fw"></i> Zaloguj</a>
                <a class="btn btn-primary" href="{{ url_for('register') }}"><i class="fa fa-user-plus fa-fw"></i> Zarejestruj</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                <div class="btn-group">
                    <a class="btn btn-primary" style="pointer-events:none;cursor:default;"><i class="fa fa-user fa-fw"></i> Moje konto</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="">
                        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('my_primers') }}"><i class="fa fa-list fa-fw"></i> Moje wpisy</a></li>
                        <li><a href="{{ url_for('add_primer') }}"><i class="fa fa-plus fa-fw"></i> Dodaj wpis</a></li>
                        <li class="disabled"><a href=""><i class="fa fa-star-o fa-fw"></i> Ulubione</a></li>
                        <li class="disabled"><a href=""><i class="fa fa-pencil-square-o fa-fw"></i> Edytuj profil</a></li>
                    </ul>
                </div>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<!-- Navigation -->
<div class="container">
    <div class="navigation">
        <a href="{{ url_for('search_primers') }}" style="margin-right:20px">STRONA GŁÓWNA</a>
        <a href="" style="margin-right:20px;pointer-events:none;cursor:default;opacity:0.6;">AKTUALIZACJE</a>
        <a href="" style="margin-right:20px;pointer-events:none;cursor:default;opacity:0.6;">POMOC</a>
    </div>
</div>

<!-- Content -->
<div class="container">
    {% for message in get_flashed_messages(category_filter=["message"]) %}
        <div class="alert alert-info" role="alert" style="text-align:center;margin-top:25px;margin-bottom:0px">{{ message }}</div>
    {% endfor %}
    
    {% for error in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:25px"><strong>Błąd:</strong> {{ error }}</div>
    {% endfor %}

    {% block body %}
    {% endblock %}
</div>

<!-- Footer -->
<div class="container">
    <footer class="footer">
        <a href="http://ug.edu.pl/"><img src="{{ url_for('static', filename='images/logo_ug.png') }}" width="80" /></a>
        <a href="http://biology.ug.edu.pl/"><img class="dept-logo" src="{{ url_for('static', filename='images/biology.png') }}" width="80" style="display:inline" /></a>
        <p style="float:right;display:inline;padding:20px">&copy; Uniwersytet Gdański 2016</p>
    </footer>
</div>

</body>

</html>
