{% extends "layout.html" %}
{% block body %}
    <h2>Wyszukiwanie primerów</h2>
    
    <!-- tymczasowo brak formularza -->
    
    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" id="primer_name">
            <label><input type="checkbox" name="optradio"> Nazwa primera</label>
        </span>
        <input type="text" class="form-control" placeholder="Nazwa primera" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon" id="sequence">
            <label><input type="checkbox" name="optradio"> Sekwencja</label>
        </span>
        <input type="sequence" class="form-control" placeholder="np. GTGCGGTTCCTGGAGCAGCA" aria-describedby="basic-addon1">
    </div>
    
    <input type="submit" style="margin-bottom:10px" value="Wyszukaj">
    
{% endblock %}
