{% extends "layout.html" %}
{% block body %}
    
    {% for primer in primers %}
    <div class="panel panel-primary" style="margin-bottom:20px;margin-top:20px">
        <div class="panel-heading">
            <strong>Numer ID: #{{ primer.pid }}</strong>
        </div>
        
        <div class="panel-body">
			
            <h3 align="center">Informacje na temat primera</h3>
            <table>
				<tr>
					<td style="width:40%"><strong>Nazwa primera:</strong></td>
					<td>{{ primer.pname }}</td>
				</tr>
				<tr>
					<td><strong>Typ:</strong></td>
					<td>{{ primer.ptype }}</td>
				</tr>
				<tr>
					<td><strong>Sekwencja:</strong></td>
					<td>{{ primer.psequence|safe }}</td>
				</tr>
				<tr>
					<td><strong>Długość (nt):</strong></td>
					<td>{{ primer.nt }}</td>
				</tr>
				<tr>
					<td><strong>Temperatura [&#x2103;] (wg firmy Genomed):</strong></td>
					<td>{{ primer.temp_gen }}</td>
				</tr>
				<tr>
					<td><strong>Temperatura [&#x2103;] (kalkulacja):</strong></td>
					<td>{{ primer.temp_calc }}</td>
				</tr>
				<tr>
					<td><strong>Data zawieszenia gotowych oligo:</strong></td>
					<td>{{ primer.oligo_date }}</td>
				</tr>
                <tr>
                    <td><strong>Bufor do zawieszenia:</strong></td>
                    <td>{{ primer.buffer }}</td>
                </tr>
                <tr>
                    <td><strong>Data przygotowania roztworu wyjściowego:</strong></td>
                    <td>{{ primer.prep_date }}</td>
                </tr>
            </table>
            
            <h3 align="center">Opis sekwencji docelowej</h3>
            <table>
                <tr>
                    <td style="width:40%"><strong>Nazwa genu:</strong></td>
                    <td>{{ primer.gene_name }}</td>
                </tr>
                <tr>
                    <td><strong>GenBank ACC No:</strong></td>
                    <td>{{ primer.gb_acc_no }}</td>
                </tr>
                <tr>
                    <td><strong>NCBI Gene ID:</strong></td>
                    <td>{{ primer.ncbi_id }}</td>
                </tr>
                <tr>
                    <td><strong>NCBI protein acession:</strong></td>
                    <td>{{ primer.ncbi_pa }}</td>
                </tr>
                <tr>
                    <td><strong>Dodatkowe uwagi:</strong></td>
                    <td>{{ primer.gene_comment }}</td>
                </tr>
                <tr>
                    <td><strong>Rodzaj (genus):</strong></td>
                    <td>{{ primer.genus }}</td>
                </tr>
                <tr>
                    <td><strong>Gatunek (species):</strong></td>
                    <td>{{ primer.species }}</td>
                </tr>
                <tr>
                    <td><strong>Dodatkowy opis:</strong></td>
                    <td>{{ primer.gene_desc }}</td>
                </tr>
                <tr>
                    <td><strong>Nazwa plazmidu:</strong></td>
                    <td>{{ primer.plasmid_name }}</td>
                </tr>
                <tr>
                    <td><strong>Sekwencja docelowa (opis):</strong></td>
                    <td>{{ primer.seq_desc }}</td>
                </tr>
                <tr>
                    <td><strong>Sekwencja docelowa:</strong></td>
                    <td>{{ primer.seq_list }}</td>
                </tr>
            </table>
            
            <h3 align="center">Warunki amplifikacji</h3>
            <table>
                <tr>
                    <td style="width:40%"><strong>Protokół przygotowania macierzy:</strong></td>
                    <td>{{ primer.matrix_prep }}</td>
                </tr>
                <tr>
                    <td><strong>Liczba cykli:</strong></td>
                    <td>{{ primer.cycles }}</td>
                </tr>
                <tr>
                    <td><strong>Stężenie końcowe:</strong></td>
                    <td>{{ primer.final_conc }}</td>
                </tr>
                <tr>
                    <td><strong>Informacje dodatkowe:</strong></td>
                    <td>{{ primer.info }}</td>
                </tr>
            </table>
            
            <h3 align="center">Informacje na temat zamówienia</h3>
            <table>
                <tr>
                    <td style="width:40%"><strong>Data zamówienia:</strong></td>
                    <td>{{ primer.order_date }}</td>
                </tr>
                <tr>
                    <td><strong>Firma:</strong></td>
                    <td>{{ primer.firm }}</td>
                </tr>
                <tr>
                    <td><strong>Numer faktury V:</strong></td>
                    <td>{{ primer.facture_no }}</td>
                </tr>
            </table>
            
            <h3 align="center">Inne</h3>
            <table>
                <tr>
                    <td style="width:40%"><strong>PMID (numer publikacji):</strong></td>
                    <td>{{ primer.pmid }}</td>
                </tr>
                <tr>
                    <td><strong>Słowa kluczowe:</strong></td>
                    <td>{{ primer.keywords }}</td>
                </tr>
                <tr>
                    <td><strong>Status:</strong></td>
                    <td>{% if primer.status==1 %}Dostępny{% else %}Niedostępny{% endif %}</td>
                </tr>
                <tr>
                    <td><strong>Właściciel:</strong></td>
                    <td>{{ primer.owner }}</td>
                </tr>
            </table>
        </div>
        
        <div class="panel-footer">
            {% if session.email %}
            <a class="btn btn-primary disabled" href=""><i class="fa fa-envelope-o fa-lg"></i> Wyślij prośbę o udostępnienie</a>
            {% else %}
            <a class="btn" style="padding-top:25px;pointer-events:none;cursor:default;" href=""></a>
            {% endif %}
            
            <a class="btn btn-primary disabled" href="" style="float:right"><i class="fa fa-file-pdf-o fa-lg"></i> Zapisz jako PDF</a>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}
