{% extends "layout.html" %}
{% block body %}
    
    {% for primer in primers %}
    <div class="panel panel-primary" style="margin-bottom:20px;margin-top:20px">
        <div class="panel-heading">
            <strong>Numer ID: #{{ primer.pid }}</strong>
        </div>
        
        <div class="panel-body">
		
			<h3> <center> Informacje na temat primera </center> </h3>
			<table style="width:100%">
			<tr>
			    <td> <b> Nazwa primera: </b> {{ primer.pname }} </td> 
			</tr>
			<tr>
				<td> <b> Sekwencja: </b> {{ primer.psequence|safe }} </td>  
			</tr>
			<tr>
				<td> <b> Typ primera: </b> {{ primer.ptype }} </td>
			</tr>
			<tr>
				<td> <b> Temperatura wg Genomed: </b> {{ primer.temp_gen }} </td>
			</tr>
			<tr>
				<td> <b> Temperatura kalkulacja: </b> {{ primer.temp_calc }} </td>
			</tr>
			<tr>
				<td> <b> Data zawieszenia gotowych oligo: </b> {{ primer.oligo_date }} </td>
			</tr>
			<tr>
				<td> <b> Bufor do zawieszenia: </b> {{ primer.buffer }} </td>
			</tr>
			<tr>
				<td> <b> Data przygotowania roztworu wyjściowego: </b> {{ primer.prep_date }} </td>
			</tr>	
		</table>
		<hr>
		<h3> <center> Opis sekwencji docelowej </center> </h3>
		<table>
			<tr>
				<td> <b> Nazwa genu: </b> {{ primer.gene_name }} </td>
			</tr>
			<tr>
				<td> <b> GenBank ACC No.: </b> {{ primer.gb_acc_no }} </td>
			</tr>
			<tr>
				<td> <b> NCBI Gene ID: </b> {{ primer.ncbi_id }} </td>
			</tr>
			<tr>
				<td> <b> Dodatkowe uwagi: </b> {{ primer.gene_comment }} </td>
			</tr>
			<tr>
				<td> <b> Rodzaj (genus): </b> {{ primer.genus }} </td>
			</tr>
			<tr>
				<td> <b> Gatunki: </b> {{ primer.species }} </td>
			</tr>
			<tr>
				<td> <b> Dodatkowy opis: </b> {{ primer.gene_desc }} </td>
			</tr>
			<tr>
				<td> <b> Nazwa plazmidu: </b> {{ primer.plasmid_name }} </td>
			</tr>
			<tr>
				<td> <b> Sekwencja docelowa(opis):: </b> {{ primer.seq_desc }} </td>
			</tr>
			<tr>
				<td> <b> Sekwencja docelowa: </b> {{ primer.seq_list }} </td>
			</tr>
		</table> 
		<hr>
		<h3> <center> Warunki amplifikacji </center> </h3>
		<table>
			<tr>
				<td> <b> Protokół przygotowania matrycy: </b> {{ primer.matrix_prep }} </td>
			</tr>
			<tr>
				<td> <b> Liczba cykli: </b> {{ primer.cycles }} </td>
			</tr>
			<tr>
				<td> <b> Stężenie końcowe: </b> {{ primer.final_conc }} </td>
			</tr>
			<tr>
				<td> <b> Informacje dodatkowe: </b> {{ primer.info }} </td>
			</tr>
		</table>	
		<hr>
		<h3> <center> Odnośniki </center> </h3>
		<table>
			<tr>
				<td> <b> PMID(numer publikacji): </b> {{ primer.pmid }} </td>
			</tr>
		</table>	
		<hr>
		<h3> <center> Informacje na temat zamówienia </center> </h3>
		<table>
			<tr>
				<td> <b> Data zamówienia: </b> {{ primer.order_date }} </td>
			</tr>
			<tr>
				<td> <b> Firma: </b> {{ primer.firm }} </td>
			</tr>
			<tr>
				<td> <b> Numer faktury: </b> {{ primer.facture_no }} </td>
			</tr>
		</table>	
		<hr>
		<h3> <center> Inne </center> </h3>
		<table>
			<tr>
				<td> <b> Słowa kluczowe: </b> {{ primer.keywords }} </td>
			</tr>
			<tr>
				<td title = "0 oznacza niedostępny" > <b> Status: </b> {{ primer.status }} </td>
			</tr>
			<tr>
				<td> <b> Właściciel: </b> {{ primer.owner }} </td>
			</tr>
		</table>		
		
        </div>
        
        <div class="panel-footer">
            {% if session.email %}
            <a class="btn btn-primary disabled" href=""><i class="fa fa-envelope-o fa-lg"></i> Wyślij prośbę o udostępnienie</a>
            {% else %}
            <a class="btn" style="padding-top:25px;pointer-events:none;cursor:default;" href=""></a>
            {% endif %}
            
            <a class="btn btn-primary disabled" href="" style="float:right"><i class="fa fa-file-pdf-o fa-lg"></i> Zapisz jako PDF</a>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}
